<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='input_rect.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='buttons.css') }}">
    <title>Autostands</title>
</head>
<body>
    <header>
        <div class="header-main-div">
            <span class="user-name">{{user}}</span>
            <div class="header-buttons-div">
                <a href="/login"><button class="header-buttons login-button">Log In</button></a>
                <a href="/logout"><button class="header-buttons logout-button">Log Out</button></a>
            </div>
        </div>
    </header>
    <div class="main-div">
        <div class="first-inside">
            <div class="title-desc">
                <span class="autostands-title">AutoStands</span><br>
                <span class="autostands-desc">Создание автостендов для разработчиков и тестеровщиков</span>
                {% for msg in get_flashed_messages() %}
                <br><span class="flash autostands-desc">{{msg}}</span>
                {% endfor%}
            </div>
            <form action="/login" method="post" class="form-sender">
                <div class="input-main-rectangle">
                    <div class="input-rectangle">
                        
                            <div class="input-forms">
                                <legend>Env</legend>
                                <input type="text" name="env" value="OPS-666">
                                <span>Название вашей задачи из Jira</span>
                            </div>
                            <div class="input-forms">
                                    <legend>GitRepo</legend>
                                    <input type="text" name="repo" value="ssh://git@bitbucket.web-bee.ru:7999/dvps/discord-jira-bot.git">
                                    <span>Ссылка на репозиторий  Bitbucket</span>
                            </div>
                            <div class="input-forms">
                                    <legend>GitBranch</legend>
                                    <input type="text" name="branch" value="master">
                                    <span>Название ветки</span>
                            </div>
                            <div class="input-forms">
                                    <legend>Path to dockerfile and docker-compose</legend>
                                    <input type="text" name="dockerPath" value=".">
                                    <span>Относительный путь в репозитории до Docker файлов</span>
                            </div>
                    </div>
        
                    <div class="buttons">
                        <div class="create-button">
                            <button type="submit" value="create">CREATE</button>
                        </div>
            
                        <div class="delete-button">
                            <button type="submit" value="delete">DELETE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="second-inside">
            <div class="ellips"></div>
        </div>
    </div>
     
</body>
</html>