{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block body %}
<body class="text-center">
    <main class="form-signin w-100 m-auto" style="width: 40%!important;">
      <form method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="login" class="form-control" id="login" name="login" placeholder="Login">
          <label for="floatingInput">Login</label>
        </div>
        <br>

        <div class="form-floating">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <br>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
      </form>
    </main>
</body>
{% endblock %}